#inner-content2 {
    .only-text {
        &__question {
            font-size: 19px;
            font-weight: bold;
        }
        &__paragraph {
            font-size: 16px;
        }
        .top-offset {
            margin-top: 0;
        }
    }
    @include desktop {
        .only-text {
            .top-offset {
                margin-top: 0;
            }
            > .col-md-8 {
                padding-left: 25px;
            }
        }
    }
    @include xl-desktop {
        .only-text {
            .top-offset {
                margin-top: 0;
            }
        }
    }
}